<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smarthandongi" >
    <uses-permission android:name="android.permission.INTERNET"
        />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        />
    <!-- 수영 다은 gcm -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- 수영 다은 gcm 끝  -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Intro"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".kakao_api.KakaoTalkLoginActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".kakao_api.KakaoTalkSignupActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".yj_activity"
            android:label="smart_handongi">
        </activity>



        <!-- 영민 유진 엑티비티 관련-->
        <activity
            android:name=".yy_activity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".SelectGroupOrNot"
            android:label="@string/app_name"/>

        <activity android:name=".Writing"
            android:label="@string/app_name"/>
        <activity android:name=".GroupSearch"
            />


        <!-- 영민 유진 엑티비티 끝-->
        <!-- 수영 다은 gcm -->
        <service android:name=".GcmIntentService" />
        <!-- 수영 다은 gcm 끝 -->
        <activity
            android:name=".ds_activity"
            android:label="smart_handongi">
        </activity>
        <activity
            android:name="com.kakao.LoginActivity"
            android:configChanges="orientation|screenSize"/>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="ddeea2953497222f88542be190749e85"/>
    </application>

</manifest>
